numpy~=2.2.6
torch
librosa
pydub
soundfile
demucs
vosk
faster-whisper
noisereduce
mir_eval
kombu~=5.5.3
python-dotenv
boto3
pydantic~=2.11.5
SQLAlchemy~=2.0.41
fastapi~=0.115.12
uvicorn~=0.34.2
DataBaseManager~=1.0.0